html {
  background-color: #eba0a0;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: 87%;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}

header {
  padding-top: 20px;
  color: #617140;
}

header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 165%;
}

header p {
  margin: 0;
}

/* Site Navigation */
.site-nav {
  margin-top: 20px;
}

.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}

.site-nav a {
  display: block;
  color: #617140;
  text-decoration: none;
  padding: 10px 20px;
  border: 3px solid #aea1de;
  border-bottom: none;
}

.site-nav a:hover {
  background-color: #e5e9dc;
}

/* End Site Navigation */

.content-area {
  border-top: 3px solid #e5e9dc;
  border-bottom: 3px solid #abede6;
}

.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

.sidebar {
  width: 34%;
  float: left;
  background-color: #a6c9f5;
  padding: 20px 40px;
  box-sizing: border-box;
  font-size: 85%;
}

footer {
  text-align: center;
  font-size: 85%;
  color: #999;
  padding-bottom: 20px;
  padding-top: 20px;
}

.fix {
  clear: both;
}

.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}
/* 테이블 스타일 */
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.col-item-name {
  width: 60%;
}
.col-quantity,
.col-price {
  width: 20%;
}
table th {
  text-align: left;
  background-color: #869960;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
table th,
table td {
  border: 1px solid #869960;
  padding: 10px;
}
table tbody tr:nth-child(even) {
  background-color: #e5e9dc;
}
table tbody tr :hover {
  background-color: #e6dce9;
}
