body{
    background-color: #ffeead;
    margin: 10px;
}
.container div{
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
}
.home {
    background-color: #96ceb4;
    margin-right: auto;
    flex: 1;
    order: 1;
}
.Search {
    background-color: #ff6f69;
    flex: 3;
    order: 2;
}
.Logout {
    background-color: skyblue;
    flex: 2;
    order: 3;
    flex-wrap: center;
}
.container{
    border: 5px solid #ffcc5c;
    display: flex;
    flex-wrap: wrap;
}