html,body{
    padding: 0;
    margin: 0;

}
input{
    font-size: 14px;
}
body{
    background-color: #bbb;
    font-family: Arial, Helvetica, sans-serif;
}
h2,h3{
    margin: 0 0 0, 75em 0;
}
/* 1 */
.container {
    max-width: 750px;
    margin: 20px auto 0 auto;
    padding: 30px;
    background-color: white;
}
.form-row{
    padding: 10px 0;
    display: flex;
}
.form-row label{
    padding-right: 10px;
}
.form-row input{
    flex: 1;
}

/* 2 */
.column-layout{
    max-width: 1300px;
    background-color: white;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}
.main-column{
    order: 2;
    flex: 5;
}
.sidebar-one{
    order: 1;
    flex: 1;
}
.sidebar-two{
    order: 3;
    flex: 1;
}
/* 3 */
.call-outs-container{
    max-width: 1400px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.call-out{
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-basis: 30%;
}
.call-out:nth-child(1){
    background-color: #c0dbe2;
}
.call-out:nth-child(2){
    background-color: #cdf1c3;
}
.call-out:nth-child(3){
    background-color: rgb(201, 187, 204);
}
@media(min-width: 900px){
    .call-outs-container{
        display: flex;
        justify-content: space-between;
    }
}
/* 4 */
.fixed-size-container{
    max-width: 1400px;
    margin: 40px auto 0 auto;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.fixed-size{
    width: 150px;
    height: 100px;
    background-color: #990b47;
    color: white;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 20px;
}
/* 5 */
.banner{
    height: 400px;
    max-width: 700px;
    margin: 40px auto 40px auto;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-me{
    color: white;
    font-size: 50px;
    margin: auto;
}